@page "/home"
<body>
    
    <div class="main-content">
        <NavMenu />
            <div id="form-container"></div>
       <div class="main-content">
           <div class="welcome-card" id="welcome-message">
               <h1 class="welcome-title">Bem-vindo ao Sistema Cerâmica Canelas</h1>
               <p class="welcome-text">Selecione uma opção no menu lateral para começar</p>
               <div id="form-container"></div>
    
           </div>
       </div>
       </div>
       <script src="/js/main.js"></script>

</body>
