@page "/home"
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <script>
        // BLOQUEIO DE ACESSO DIRETO
        const token = localStorage.getItem('accessToken');
        console.log('Token:', token);   // Exibe o token no console para depuração
        if (!token) {
            window.location.replace("/"); // redireciona imediatamente
        }
    </script>
     <script src="/js/main.js"></script>
</head>
<body>
    <div class="main-content">
        <NavMenu /> <div id="form-container"></div>
        
        <div class="welcome-card" id="welcome-message">
            <h1 class="welcome-title">Bem-vindo ao Sistema</h1>
            <p class="welcome-text">Selecione uma opção no menu lateral para começar.</p>
        </div>
    </div>
    
   
  
</body>
</html>
